aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
asttokens==3.0.1
attrs==25.4.0
beautifulsoup4==4.14.3
brotli==1.2.0
bs4==0.0.2
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.3
decorator==5.2.1
discordwebhook==1.0.3
executing==2.2.1
flightradar24==0.3.1
FlightRadarAPI==1.4.0
frozenlist==1.8.0
idna==3.11
ipython==9.8.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
matplotlib-inline==0.2.1
multidict==6.7.0
parso==0.8.5
pexpect==4.9.0
prompt_toolkit==3.0.52
propcache==0.4.1
ptyprocess==0.7.0
pure_eval==0.2.3
pycparser==2.23
Pygments==2.19.2
requests==2.32.5
soupsieve==2.8
stack-data==0.6.3
traitlets==5.14.3
typing_extensions==4.15.0
urllib3==2.6.2
wcwidth==0.2.14
yarl==1.22.0